@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Roboto", sans-serif;
}
/* --------------------------- */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  box-shadow: 0 0 10px black;
}

.logo {
  font-size: 45px;
  font-weight: 500;
  cursor: pointer;
  animation: in-top 0.7s forwards;
  opacity: 0;
}

ul {
  display: flex;
  gap: 5rem;
  font-size: 25px;
  list-style: none;
  animation: in-top 0.7s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
ul li a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(54, 176, 242);
  transition: 0.5s all;
}
.nav-link:hover::before {
  width: 100%;
}
#con-head {
  background-color: rgb(255, 0, 0);
  padding: 15px 25px;
  border-radius: 25px;
  color: white;
  transition: 0.8s;
}
#con-head:hover {
  background-color: white;
  color: black;
}
/* ------------------------------------------ */
.nav-mo {
  font-size: 30px;
  color: black;
  text-decoration: none;
  display: none;
}
/* ------------------------------------------ */
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 45px;
  font-weight: 500;
  animation: in-top 0.7s forwards;
  animation-delay: 0.8s;
  opacity: 0;
}
.det {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.det img {
  max-width: 500px;
  border-radius: 50px;
  filter: drop-shadow(0 0 10px black);
  animation: float 0.5s infinite;
  animation: in-left 0.9s forwards;
  animation-delay: 0.9s;
  opacity: 0;
}
.main .sup-det h2 {
  padding: 25px;
  font-size: 35px;
}
.main .sup-det h2:nth-child(1) {
  animation: in-right 0.8s forwards;
  animation-delay: 1s;
  opacity: 0;
}
.main .sup-det h2:nth-child(2) {
  animation: in-right 0.8s forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
.main .sup-det h2:nth-child(3) {
  animation: in-right 0.8s forwards;
  animation-delay: 1.4s;
  opacity: 0;
}
.main .sup-det h2:nth-child(4) {
  animation: in-right 0.8s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}
.main .sup-det h2 span {
  color: rgb(0, 140, 255);
}
/* ------------------------------------------ */

/* ------------------------------------------ */
@media only screen and (max-width: 1400px) {
  ul {
    gap: 50px;
  }
}
@media only screen and (max-width: 1320px) {
  ul {
    gap: 40px;
  }
  ul li a {
    font-size: 23px;
  }
}
@media only screen and (max-width: 1220px) {
  .nav-mo {
    display: block;
    animation: in-left 0.8s forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }
  .navbar-links {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    z-index: 999;
    box-shadow: 0 0 10px black;
    top: 101px;
    height: 450px;
    animation: none;
    opacity: 1;
    transition: 0.2s;
  }
  .navbar-links ul {
    transition: 0.2s;
  }
  ul li a {
    font-size: 27px;
  }
}
@media only screen and (max-width: 1024px) {
  .det {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main img {
    max-width: 400px;
  }
  img {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .main .sup-det h2 {
    padding: 15px;
    font-size: 25px;
  }
  .head {
    font-size: 40px;
  }
}
@media only screen and (max-width: 450px) {
  .main img {
    max-width: 350px;
  }
}
@media only screen and (max-width: 320px) {
  .main .sup-det h2 {
    padding: 15px;
    font-size: 25px;
    text-align: center;
  }
  .main img {
    max-width: 250px;
  }
  .head {
    font-size: 30px;
  }
  .logo {
    font-size: 35px;
  }
}
/* ------------------------------------------ */
@keyframes in-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes in-right {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes in-left {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes float {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
